<template>
  <div class="contacts">
    <div class="contacts-controls">
      <form class="contacts-search" v-if="contacts.length > 1">
        <input type="text" class="form-control" placeholder="Search by name..." v-model="search" />
      </form>

      <button class="btn btn-success" @click="openAddModal">Add Contact</button>
    </div>

    <ContactsTable :contacts="filteredList" v-if="contacts.length" />
    <div v-else class="contacts-empty">Contacts list is empty</div>

    <EditModal />
    <ConfirmModal />


  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import ContactsTable from "@/components/Contacts/ContactsTable";
import EditModal from "@/components/Modal/EditModal";
import ConfirmModal from "@/components/Modal/ConfirmModal";

export default {
  name: "ContactsPage",
  components: {
    ContactsTable,
    EditModal,
    ConfirmModal
  },
  data: () => ({
    search: ""
  }),
  computed: {
    ...mapGetters({
      contacts: "getContacts"
    }),
    filteredList() {
      return this.contacts.filter(item => {
        return item.name.toLowerCase().includes(this.search.toLowerCase());
      });
    }
  },
  methods: {
    ...mapActions(["fetchContacts"]),
    openAddModal() {
      this.$modal.show("edit-modal");
    }
  },
  mounted() {
    this.fetchContacts();
  }
};
</script>

<style lang="scss">
.contacts-controls {
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-end;

  .contacts-search {
    flex-basis: 400px;

    margin-right: auto;
  }

  .btn {
    white-space: nowrap;
    margin-left: 15px;
  }
}

.contacts-empty {
  font-size: 45px;
  color: #888;
  font-weight: 700;
  text-align: center;
}


</style>