<template>
  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-7 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          <form class="form" @submit.prevent="login">
            <div class="form-group" :class="{ 'form-group--error': $v.email.$error }">
              <label for="login">Email:</label>
              <input type="text" id="login" class="form-control" v-model.trim="$v.email.$model" />
              <div class="error" v-if="$v.email.$error && !$v.email.required">Email is required</div>
              <div class="error" v-if="$v.email.$error && !$v.email.email">Incorrect email format</div>
            </div>

            <div class="form-group" :class="{ 'form-group--error': $v.password.$error }">
              <label for="password">Password:</label>
              <input
                type="password"
                id="password"
                class="form-control"
                v-model.trim="$v.password.$model"
              />
              <div
                class="error"
                v-if="$v.password.$error && !$v.password.required"
              >Password is required</div>
            </div>

            <button type="submit" class="btn btn-primary">Log in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, email } from "vuelidate/lib/validators";

export default {
  name: "LogIn",
  data: () => ({
    email: "",
    password: ""
  }),
  validations: {
    email: {
      required,
      email
    },
    password: {
      required
    }
  },
  methods: {
    login: function() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        const { email, password } = this;
        this.$store.dispatch("login", { email, password })
        .then(() => {
          this.$router.push("/");
        });
      }
    }
  }
};
</script>

<style lang="scss" >
.card-error {
  padding: 15px;
  padding-top: 0;
  text-align: center;
  color: #cc0000;
  font-weight: 700;
  font-size: 14px;
}
</style>