<template>
  <ModalContainer
    :name="'confirm-modal'"
    :title="`Delete contact ${name}?`"
    @beforeOpenHandler="beforeOpen"
    :maxWidth="350"
  >
    <div class="text-center">
      <button class="btn btn-success" @click.prevent="confirm">Delete</button>
      <button class="btn btn-danger" @click.prevent="closeModal">Cancel</button>
    </div>
  </ModalContainer>
</template>

<script>
import { mapActions } from "vuex";
import ModalContainer from "@/components/Modal/ModalContainer";

export default {
  name: "ConfirmModal",
  components: {
    ModalContainer
  },
  data: () => ({
    id: null,
    name: null,
    email: null,
    phone: null
  }),
  methods: {
    ...mapActions(["deleteContactItem"]),
    beforeOpen(event) {
      if (event.params) {
        this.id = event.params.id;
        this.name = event.params.name;
        this.email = event.params.email;
        this.phone = event.params.phone;
      } else {
        this.id = null;
        this.name = null;
        this.email = null;
        this.phone = null;
      }
    },
    closeModal() {
      this.$modal.hide("confirm-modal");
    },
    confirm() {
      this.deleteContactItem(this.id).then(() => {
        this.closeModal();
      });
    }
  }
};
</script>

<style>
</style>