<template>
  <ModalContainer
    :name="'edit-modal'"
    :title="id ? 'Change contact' : 'Add contact'"
    @beforeOpenHandler="beforeOpen"
    @closedHandler="resetData"
  >
    <form>
      <div class="form-group" :class="{ 'form-group--error': $v.name.$error }">
        <label for="editName">Name:</label>
        <input type="text" class="form-control" id="editName" v-model.trim="$v.name.$model" />
        <div class="error" v-if="$v.name.$error && !$v.name.required">Name is required</div>
      </div>

      <div class="form-group" :class="{ 'form-group--error': $v.email.$error }">
        <label for="editEmail">Email:</label>
        <input type="email" class="form-control" id="editEmail" v-model.trim="$v.email.$model" />
        <div class="error" v-if="$v.email.$error && !$v.email.email">Incorrect email format</div>
        <div class="error" v-if="$v.email.$error && !$v.email.required">Email or phone is required</div>
      </div>

      <div class="form-group" :class="{ 'form-group--error': $v.phone.$error }">
        <label for="editPhone">Phone:</label>
        <input type="text" class="form-control" id="editPhone" v-model.trim="$v.phone.$model" />
        <div class="error" v-if="$v.phone.$error && !$v.phone.required">Email or phone is required</div>
        <div class="error" v-if="$v.phone.$error && !$v.phone.phoneFormat">Incorrect phone format</div>
      </div>

      <button
        class="btn btn-success"
        @click.prevent="saveChanges"
      >{{id ? 'Save changes' : 'Add new contact'}}</button>
      <button class="btn btn-danger" @click.prevent="closeModal">Cancel</button>
    </form>
  </ModalContainer>
</template>

<script>
import { mapActions } from "vuex";
import ModalContainer from "@/components/Modal/ModalContainer";

import { required, requiredIf, email, helpers } from "vuelidate/lib/validators";
const phoneFormat = helpers.regex(
  "alpha",
  /^((8|\+7)[ - ]?)?(\(?\d{3}\)?[ - ]?)?[\d\- ]{7,10}$/
);

export default {
  name: "EditModal",
  components: {
    ModalContainer
  },
  data: () => ({
    id: null,
    name: null,
    email: null,
    phone: null
  }),
  validations: {
    email: {
      email,
      required: requiredIf(function() {
        return !this.phone && !this.email;
      })
    },
    phone: {
      required: requiredIf(function() {
        return !this.phone && !this.email;
      }),
      phoneFormat
    },
    name: {
      required
    }
  },
  methods: {
    ...mapActions(["createContactItem", "changeContactItem"]),
    resetData() {
      this.name = null;
      this.email = null;
      this.phone = null;
      this.id = null;
    },
    beforeOpen(event) {
      this.$v.$reset();

      let params = event.params;
      if (params && params.id) {
        let data = event.params.data;
        this.name = data.name;
        this.email = data.email;
        this.phone = data.phone;
        this.id = params.id;
      }
    },
    saveChanges() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        const { name, email, phone, id } = this;

        if (this.id) {
          this.changeContactItem([id, { name, email, phone }]);
        } else {
          this.createContactItem({ name, email, phone });
        }

        this.closeModal();
      }
    },
    closeModal() {
      this.$modal.hide("edit-modal");
    }
  }
};
</script>

<style >
</style>