<template>
  <modal
    :name="name"
    @before-open="beforeOpen"
    @before-close="beforeClose"
    @closed="closed"
    height="auto"
    :maxWidth="maxWidth|| 550"
    :adaptive="true"
    :classes="'custom-modal'"
    :styles="{'border-radius': '8px', 'max-width': 'calc(100% - 30px)', 'transform': 'translateX(15px)'}"
  >
    <div class="custom-modal-close" @click="closeModal"></div>

    <h6 class="custom-modal-title">{{title}}</h6>
    <slot></slot>
  </modal>
</template>

<script>
export default {
  name: "ModalContainer",
  props: {
    name: String,
    maxWidth: [String, Number],
    title: String
  },
  methods: {
    beforeOpen(event) {
      this.$emit("beforeOpenHandler", event);
    },
    beforeClose(event) {
      this.$emit("beforeCloseHandler", event);
    },
    closed(event) {
      this.$emit("closedHandler", event);
    },
    closeModal() {
      this.$modal.hide(this.name);
    }
  }
};
</script>

<style lang="scss">
.custom-modal {
  padding: 30px;
  padding-top: 40px;

  &-title {
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: center;
  }

  &-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 15px;
    height: 15px;
    background-image: url(../../assets/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  .btn {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  @media (max-width: 575px) {
    padding: 20px;
    padding-top: 30px;
  }
}
</style>