<template>
  <header class="navbar fixed-top navbar-dark bg-dark">
    <div class="container">
      <router-link to="/" class="navbar-brand">Vue App</router-link>

      <button class="btn btn-primary" @click="logout" v-if="isLoggedIn">Log Out</button>
    </div>
  </header>
</template>

<script>
export default {
  name: "Header",
  methods: {
    logout: function() {
      this.$store.dispatch("logout").then(() => {
        this.$router.push("/login");
      });
    }
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters.isLoggedIn;
    }
  }
};
</script>

<style lang="scss">
.navbar {
  @media (max-width: 575px) {
    & > .container {
      padding: 0;
    }
  }
}
</style>