<template>
  <main class="main">
    <div class="container">
      <slot></slot>
    </div>
  </main>
</template>

<script>
export default {
  name: "MainContent"
};
</script>

<style lang="scss">
.main {
  min-height: 100vh;
  padding-top: 95px;
  padding-bottom: 30px;
}
</style>