<template>
  <div id="app">
    <Header />

    <MainContent>
      <router-view />
    </MainContent>

    <notifications class="notification" position />
  </div>
</template>
<script>
import Header from "@/components/Header";
import MainContent from "@/components/MainContent";

export default {
  components: {
    Header,
    MainContent
  }
};
</script>

<style lang="scss">
@import "./sass/_variables.scss";
@import "bootstrap/scss/bootstrap.scss";

.form-group {
  position: relative;

  &--error {
    .form-control {
      border-color: $error-color;
    }

    .error {
      color: $error-color;
    }
  }
  .error {
    font-size: 12px;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

.notification {
  top: 15px;
  right: 15px;

  .vue-notification {
    border-radius: 5px;
    border: none;
  }

  .notification-title {
    font-size: 16px;
  }

  .notification-content {
    font-size: 14px;
  }
}
</style>
