<template>
  <tr>
    <td>{{name}}</td>
    <td>{{email || '—'}}</td>
    <td>{{phone || '—'}}</td>
    <td>
      <button class="btn btn-primary" @click="openModal">
        <img src="../../assets/edit.svg" alt="Edit contact" />
      </button>
      <button class="btn btn-danger" @click="deleteItem(id)">
        <img src="../../assets/delete.svg" alt="Delete contact" />
      </button>
    </td>
  </tr>
</template>

<script>
export default {
  name: "ContactsRow",
  props: {
    id: [String, Number],
    name: String,
    email: String,
    phone: String
  },
  methods: {
    openModal() {
      this.$modal.show("edit-modal", {
        id: this.id,
        data: {
          name: this.name,
          email: this.email,
          phone: this.phone
        }
      });
    },
    deleteItem() {
      this.$modal.show("confirm-modal", {
        id: this.id,
        name: this.name,
        email: this.email,
        phone: this.phone
      });
    }
  }
};
</script>

<style lang="scss" scoped>
td {
  &:last-child {
    width: 100px;
  }

  .btn {
    padding: 0.3em 0.4em;
  }
}
</style>