<template>
  <!-- <div class="table-responsive"> -->
  <div class="table-responsive">
    <table class="table table--contacts">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ConatctsRow
          v-for="contact in contacts"
          :key="contact.id"
          :id="contact.id"
          :name="contact.name"
          :email="contact.email"
          :phone="contact.phone"
        />
      </tbody>
    </table>
  </div>

  <!-- </div> -->
</template>

<script>
import ConatctsRow from "@/components/Contacts/ConatctsRow";

export default {
  name: "ConatctsTable",
  components: {
    ConatctsRow
  },
  data: () => ({}),
  props: {
    contacts: Array
  }
};
</script>

<style lang="scss">
.table {
  &--contacts {
    white-space: nowrap;
    position: relative;
    border-collapse: initial;
    border-spacing: 0;

    .btn {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
</style>